/* CSS declarations go here */
div.or:before {
	background-color: yellow !important;
}

img.artwork {
	border-radius: 5px !important;
}

.playing-progress, .playing-progress .bar {
	height: 7px !important;
	border-bottom-left-radius: 3px !important;
}
.volume-progress, .volume-progress .bar {
	height: 5px !important;
}

a.play-button, a.playback-button {
	cursor: pointer;
	opacity: 0.55;
}
a.play-button:hover, a.playback-button:hover {
	opacity: 1;
}