/* CSS declarations go here */
.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

img.artwork {
	border-radius: 5px !important;
}

.playing-progress, .playing-progress .bar {
	height: 7px !important;
	border-bottom-left-radius: 3px !important;
}
.volume-progress, .volume-progress .bar {
	height: 5px !important;
}

a.play-button, a.playback-button, a.info-button {
	cursor: pointer;
	opacity: 0.75;
}
a.play-button:hover, a.playback-button:hover, a.info-button {
	opacity: 1;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}