<template name="entry">
<div class="entry ui basic modal">
	<div class="header">
	</div>

	<div class="content">
		<div class="ui inverted blurring segment">
			<h1 class="ui center aligned pink header">
				gruveOne
			</h1>
		  <div class="entry ui dimmer">
		    <div class="ui inverted loader"></div>
		  </div>
		</div>
	</div>

	<div class="actions">
		<div class="pigeonsandplanes entry ui button">
			Can I Work Here
		</div>
		<div class="phamartin entry ui button">
			Me
		</div>
	</div>
</div>
</template>