<!-- Main menu for selecting tracks -->
<template name="main">
	<!-- SELECT RANDOM PLAYLIST -->
	<div class="ui massive fluid inverted button" ng-show="!playlists.selected">
		<div class="ui statistics">
			<div class="statistic">
				<div class="value">
					<i class="huge orange soundcloud icon"></i>
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="huge chevron right icon"></i>
				</div>
				<div class="label">usually</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="huge green spotify icon"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- PLAYLIST SELECTED -->
	<div class="ui relaxed divided items" ng-show="playlists.selected">
		<!-- Playlist title -->
		<div class="ui horizontal divider">
			<a ng-href="[[playlists.selected.permalink_url]]" target="_blank"><h3 class="ui orange header">
				<span ng-bind="playlists.selected.title"></span>
			</h3></a>
		</div>
		<!-- Iterate over each track in selected playlist -->
		<div class="item" ng-repeat="track in playlists.selected.tracks" ng-hover ng-click="selectTrack(track.id)" ng-attr-id="[[track.id.toString()]]">
			<!-- Artwork -->
			<div class="ui small image">
			  <div class="ui dimmer"><div class="ui loader"></div></div>
				<img class="artwork" ng-src="[[track.processed.artwork_url]]"/>
			</div>
			<div class="middle aligned content">
				<!-- Track title and artist -->
				<div class="ui header">
					<h3 ng-bind="track.title"></h3>
					<div class="sub header">
						<span ng-bind="track.user.username"></span>
					</div>
				</div>
				<!-- Track info -->
				<div class="description">
					adwadkwjaldjw
				</div>
				<div class="extra">
					adwajdlaiwdjliawjdlawjdl
				</div>
			</div>
		</div>
	</div>
</template>

