<!-- Main menu for selecting tracks -->
<template name="main">
	<div ng-show="playlists.selected">
	<div class="ui top attached basic inverted secondary orange segment">
		<h2 class="ui header">
			<span ng-bind="playlists.selected.title"></span>
		</h2>
	</div>
	<div class="ui container">
		<div ng-repeat="track in playlists.selected.tracks">
			<div class="ui basic segment">
				<span ng-bind="track.title"></span>
			</div>
			<div class="ui divider"></div>
		</div>
	</div>
	</div>
</template>