<!-- Main menu for selecting tracks -->
<template name="main">
	<div ng-show="playlists.selected">
<!-- 	<div class="ui top inverted orange segment">
		<h2 class="ui header">
		<a class="red" ng-bind="playlists.selected.title" ng-href="[[playlists.selected.permalink_url]]" target="_blank">
		</a>
		</h2>
	</div> -->
	<div class="ui relaxed divided items">
		<div class="ui horizontal divider">
			<a ng-href="[[playlists.selected.permalink_url]]" target="_blank"><h3 class="ui orange header" ng-bind="playlists.selected.title"></h3></a>
		</div>
		<div class="item" ng-repeat="track in playlists.selected.tracks" ng-hover ng-click="menu.selectTrack()">
			<!-- Artwork -->
			<div class="ui small image">
				<img class="artwork" ng-src="[[track.processed.artwork_url]]"/>
			</div>
			<div class="middle aligned content">
				<!-- Track title and artist -->
				<div class="ui header">
					<h3 ng-bind="track.title"></h3>
					<div class="sub header">
						<span ng-bind="track.user.username"></span>
					</div>
				</div>
				<!-- Track info -->
				<div class="description">
					adwadkwjaldjw
				</div>
				<div class="extra">
					adwajdlaiwdjliawjdlawjdl
				</div>
			</div>
		</div>
	</div>
	</div>
</template>

