<!-- Player Sidebar -->
<template name="player">
<div class="ui piled segments">
	<div class="ui horizontal divider">
		<a ng-href="[[soundcloud.current.playlist.permalink_url]]" target="_blank">
			<i class="large orange soundcloud icon"></i>
		</a>
	</div>
	<div ng-show="playlists.selected && soundcloud.current.track">
		<!-- TRACK INFO -->
		<div class="ui attached center aligned tertiary segment">
			<h6 class="ui tiny header" ng-bind="soundcloud.current.track.user.username"></h6>
				<!-- Loading Tracking -->
				<div class="loading-progress ui active orange inverted top attached progress">
					<div class="bar" style="transition: 300ms; -webkit-transition: 300ms;"></div>
				</div>
			<div class="ui fluid fixed fade reveal image">

				<!-- Artwork -->
				<!-- <img class="fluid image" ng-src="[[soundcloud.current.track.processed.artwork_url]]"> -->
				<img class="artwork-image visible content fluid image">
				<img class="artist-image hidden content fluid image">
				<!-- Duration Tracking -->
				<div class="playing-progress ui orange inverted bottom attached progress">
					<div class="bar">
						<!-- <div class="progress">progress/duration</div> -->
					</div>
				</div>
			</div>
			<a ng-href="[[soundcloud.current.track.permalink_url]]" target="_blank">
				<strong ng-bind="soundcloud.current.track.title"></strong>
			</a>
			<!-- Play/Pause Button -->
			<div class="ui horizontal divider">
				<a class="play-button" ng-click="togglePause()">
					<!-- Opposite to indicate what will happen (playing => pause) -->
					<i class="large orange icon" ng-class="{play: !soundcloud.current.playing, pause: soundcloud.current.playing}"></i>
				</a>
			</div>
		</div>

		<!-- PLAYER OPTIONS -->
		<div class="ui attached segment">
			<!-- Toggle options -->
			<a class="ui ribbon label" ng-click="menu.playerOptions()">
				<i class="options icon"></i>
			</a>
			<a class="playback-button" ng-click="togglePlayback()">
			    <i class="large circular orange icon" ng-class="{'long arrow right': soundcloud.current.playback.type=='linear', 'repeat': soundcloud.current.playback.type == 'repeat', 'random': soundcloud.current.playback.type == 'random'}"></i>
			</a>
			<!-- Options -->
			<div class="player-options ui attached segments" style="display:none">
				<!-- Volume -->
				<div class="volume-progress ui top attached progress" ng-class="{orange: !soundcloud.current.sound.muted, red: soundcloud.current.sound.muted}">
					<div class="bar"></div>
				</div>
				<div class="ui attached segment three tiny compact icon buttons">
					<div class="ui button" ng-click="changeVolume('down')">
						<i class="volume down icon"></i>
					</div>
					<div class="ui button" ng-click="changeVolume('mute')">
						<i class="volume off icon" ng-class="{red: soundcloud.current.sound.muted}"></i>
					</div>
					<div class="ui button" ng-click="changeVolume('up')">
						<i class="volume up icon"></i>
					</div>
				</div>
				<!-- Tracking -->
				<div class="ui attached segment two tiny compact icon buttons">
					<div class="ui button" ng-click="changePosition('backward')">
						<i class="backward icon"></i>
					</div>
					<div class="ui button" ng-click="changePosition('forward')">
						<i class="forward icon"></i>
					</div>
				</div>
				<!-- Queue -->
				<div class="ui attached segment three tiny compact icon buttons">
					<div class="ui button" ng-click="previousTrack()">
						<i class="step backward icon"></i>
					</div>
					<div class="ui button" ng-click="toggleStop()">
						<i class="stop icon"></i>
					</div>
					<div class="ui button" ng-click="nextTrack()">
						<i class="step forward icon"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Playlist Menu Button -->
	<div class="ui bottom attached segment fluid basic orange inverted compact button" ng-click="menu.playlistSidebar()">
		Playlists
	</div>
</div>
</template>