<!-- Player Sidebar -->
<template name="player">
<div class="ui piled segments">
	<div class="ui horizontal divider">
		<a ng-href="[[track.permalink_url]]" target="_blank">
			<i class="large orange soundcloud icon"></i>
		</a>
	</div>
	<div ng-show="playlists.selected && track">
		<!-- TRACK INFO -->
		<div class="ui attached center aligned tertiary segment">
			<!-- Title -->
			<h5 class="ui tiny header" ng-bind="track.title"></h5>
			<div class="ui fluid image">
				<!-- Loading Tracking -->
				<div class="loading-progress ui active orange inverted top attached progress">
					<div class="bar" style="transition: 300ms; -webkit-transition: 300ms;"></div>
				</div>
				<!-- Artwork -->
				<img class="fluid image" ng-src="[[track.processed.artwork_url]]">
				<!-- Duration Tracking -->
				<div class="playing-progress ui active orange inverted bottom attached progress">
					<div class="bar"></div>
				</div>
			</div>
			<!-- Play/Pause Button -->
			<div class="ui horizontal divider">
				<a class="play-button" ng-click="togglePause()">
					<!-- Opposite to indicate what will happen (playing => pause) -->
					<i class="large orange icon" ng-class="{play: !soundcloud.current.playing, pause: soundcloud.current.playing}"></i>
				</a>
			</div>
		</div>

		<!-- PLAYER OPTIONS -->
		<div class="ui attached segment">
			<!-- Toggle options -->
			<a class="ui ribbon label" ng-click="menu.playerOptions()">
				<i class="options icon"></i>
			</a>
			<!-- Options -->
			<div class="player-options ui attached segments" style="display:none">
				<!-- Volume -->
				<div class="volume-progress ui orange active inverted top attached progress" ng-class="{error: soundcloud.current.muted}">
					<div class="bar"></div>
				</div>
				<div class="ui attached segment three compact icon buttons">
					<div class="ui button" ng-click="changeVolume('down')">
						<i class="volume down icon"></i>
					</div>
					<div class="ui button" ng-click="changeVolume('mute')">
						<i class="volume off icon" ng-class="{red: soundcloud.current.muted}"></i>
					</div>
					<div class="ui button" ng-click="changeVolume('up')">
						<i class="volume up icon"></i>
					</div>
				</div>
				<!-- Tracking -->
				<div class="ui attached segment two compact icon buttons">
					<div class="ui button" ng-click="changePosition('backward')">
						<i class="backward icon"></i>
					</div>
					<div class="ui button" ng-click="changePosition('forward')">
						<i class="forward icon"></i>
					</div>
				</div>
				<!-- Queue -->
				<div class="ui attached segment three compact icon buttons">
					<div class="ui button">
						<i class="step backward icon"></i>
					</div>
					<div class="ui button">
						<i class="stop icon"></i>
					</div>
					<div class="ui button">
						<i class="step forward icon"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Playlist Menu Button -->
	<div class="ui bottom attached segment fluid compact button" ng-click="menu.playlistSidebar()">
		Playlists
	</div>
</div>
</template>