<!-- Player Sidebar -->
<template name="player">
	<div class="ui segments">
	<div class="ui divider"></div>
	<button class="ui fluid compact button" ng-click="menu.playlistSidebar()">Playlists</button>
	<div class="ui divider"></div>
	<div class="ui card">
		<div class="image">
			<img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11218986_438722642981746_8384933240351902657_n.jpg?oh=1017cbae0886061e1403c0b4306cc79d&oe=566474AC">
		</div>
	</div>
	<div class="ui divider"></div>
	</div>
</template>